# nyc test coverage report
.nyc_output
coverage

# editor settings
.vscode
.editorconfig

# unit tests
test/
build/test/

# pre-transpiled source
src/

# transpiler settings
tsconfig.json
tslint.json

**/test.*
